absl-py==1.3.0
accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==4.2.0
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
assemblyai==0.9.0
asteroid-filterbanks==0.4.0
astroid==2.11.7
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
audio-recorder-streamlit==0.0.8
audioread==3.0.0
autopep8==1.6.0
azure-cognitiveservices-speech==1.29.0
Babel==2.10.3
backcall==0.2.0
backoff==2.2.1
backports.cached-property==1.0.2
bangla==0.0.2
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==5.0.1
blinker==1.6.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
bokeh==3.1.0
boltons==23.0.0
boto==2.49.0
boto3==1.26.156
botocore==1.29.156
branca==0.5.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
chromadb==0.3.26
clean-fid==0.1.35
click==8.1.3
click-plugins==1.1.1
clickhouse-connect==0.6.4
cligj==0.7.2
clip-anytorch==2.5.2
cloudpickle==2.2.0
cmaes==0.10.0
cmake==3.26.4
colorama==0.4.5
coloredlogs==15.0.1
colorlog==6.7.0
colorzero==2.0
commonmark==0.9.1
contourpy==1.0.7
coqpit==0.0.17
cycler==0.11.0
Cython==0.29.28
dask==2022.7.1
dataclasses-json==0.5.9
DataProperty==1.0.1
dateparser==1.1.8
db-dtypes==1.0.4
deap==1.3.3
debugpy==1.6.3
decorator==4.4.2
deepgram-sdk==2.5.0
defusedxml==0.7.1
diart==0.7.0
dill==0.3.6
distlib==0.3.7
docker-pycreds==0.4.0
docopt==0.6.2
dtw-python==1.3.0
duckdb==0.8.1
einops==0.3.2
entrypoints==0.4
etils==0.8.0
executing==1.1.1
faiss-cpu==1.7.4
Farama-Notifications==0.0.4
fastapi==0.95.0
fastjsonschema==2.16.2
ffmpeg-python==0.2.0
filelock==3.12.2
Fiona==1.9.2
flake8==4.0.1
Flask==2.3.2
Flask-SocketIO==5.3.5
flatbuffers==22.9.24
folium==0.12.1.post1
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.10.0
ftfy==6.1.1
future==0.18.3
g2pkk==0.1.2
gast==0.4.0
gensim==4.2.0
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
gitdb==4.0.9
GitPython==3.1.31
google-api-core==2.11.1
google-auth==2.20.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-speech==2.20.0
google-cloud-storage==2.4.0
google-cloud-texttospeech==2.14.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
google-search-results==2.4.2
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
gpiozero==1.6.2
greenlet==2.0.2
grpcio==1.50.0
grpcio-status==1.48.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.12.0
h5py==3.7.0
hmmlearn==0.2.8
hnswlib==0.7.0
htmlmin==0.1.12
httpcore==0.15.0
httptools==0.5.0
httpx==0.23.0
huggingface-hub==0.15.1
huggingface-sb3==3.0
humanfriendly==10.0
HyperPyYAML==1.2.1
idna==3.4
ImageHash==4.3.1
imageio==2.22.2
imageio-ffmpeg==0.4.9
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==5.0.0
importlib-resources==5.10.0
inflect==5.6.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.15.3
ipympl==0.9.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
isort==5.10.1
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.1
json5==0.9.10
jsonlines==1.2.0
jsonmerge==1.9.0
jsonpickle==3.0.1
jsonschema==4.16.0
julius==0.2.7
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage==0.6.3
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core==4.11.2
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.16.1
k-diffusion==0.0.15
kaggle==1.5.12
keras==2.10.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.4
kornia==0.6.12
langchain==0.0.224
langchainplus-sdk==0.0.20
lazy-object-proxy==1.7.1
lazy_loader==0.2
libclang==14.0.6
librosa==0.9.2
lit==16.0.5.post0
llvmlite==0.39.1
locket==1.0.0
logmmse==1.5
lxml==4.9.1
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mccabe==0.6.1
mecab-python3==1.0.5
memoized-property==1.0.3
mido==1.3.0
missingno==0.5.1
mistune==0.8.4
monotonic==1.6
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.8
munch==2.5.0
music21==9.1.0
mypy-extensions==1.0.0
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==6.5.4
nbformat==5.7.0
nbresult==0.0.9
nest-asyncio==1.5.6
networkx==2.8.7
nltk==3.7
notebook==6.4.12
notebook_shim==0.2.0
num2words==0.5.12
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.15.1
openai==0.27.5
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
opt-einsum==3.3.0
optuna==3.2.0
outlier-utils==0.0.5
OUTLIERS==0.1
overrides==7.3.1
packaging==23.1
pandas==1.5.3
pandas-gbq==0.17.9
pandas-profiling==3.3.0
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathtools==0.1.2
pathvalidate==2.5.2
patsy==0.5.3
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==3.10.0
playsound==1.3.0
plotly==5.9.0
pluggy==1.0.0
plumbum==1.8.2
ply==3.11
pmdarima==2.0.1
pooch==1.6.0
posthog==3.0.1
primePy==1.3
proglog==0.1.10
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.31
proto-plus==1.22.1
protobuf==3.19.6
psutil==5.9.3
psycopg2-binary==2.9.4
ptyprocess==0.7.0
PuLP==2.7.0
pulsar-client==3.2.0
pure-eval==0.2.2
py==1.11.0
pyannote.audio==2.1.1
pyannote.core==4.5
pyannote.database==4.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.8.0
pycparser==2.21
pyculiarity==0.0.7
pydantic==1.10.11
pydantic_core==2.1.2
pydata-google-auth==1.4.0
pydeck==0.8.0b4
pyDeprecate==0.3.2
pyDOE2==1.3.0
pydub==0.25.1
pyflakes==2.4.0
pygeohash==1.2.0
Pygments==2.13.0
pylint==2.14.5
Pympler==1.0.1
pynndescent==0.5.10
pyparsing==3.0.9
pypinyin==0.49.0
pyproj==3.5.0
pyrsistent==0.18.1
pysbd==0.3.4
pytablewriter==0.64.2
pytest==7.1.3
pytest-asyncio==0.19.0
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-engineio==4.5.1
python-multipart==0.0.6
python-slugify==6.1.2
python-socketio==5.8.0
python-version==0.0.2
pytorch-lightning==1.6.5
pytorch-metric-learning==1.7.3
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyVirtualDisplay==3.0
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==24.0.1
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
resampy==0.4.2
resize-right==0.0.2
rfc3986==1.5.0
rich==12.6.0
rl-zoo3 @ git+https://github.com/DLR-RM/rl-baselines3-zoo@7dcbff7e74e7a12c052452181ff353a4dbed313a
rsa==4.9
rstl==0.1.3
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
Rx==3.2.0
s3transfer==0.6.1
safetensors==0.3.1
sb3-contrib==2.2.0a11
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.99
sentry-sdk==1.25.1
setproctitle==1.3.2
setuptools-scm==6.4.2
shapely==2.0.1
shellingham==1.5.0.post1
simplejson==3.19.1
simpy==4.0.2
singledispatchmethod==1.0
six==1.16.0
smart-open==6.2.0
smmap==5.0.0
sniffio==1.3.0
snowboy @ file:///home/ginger/code/gderiddershanghai/teacher_UI/snowboy
sortedcontainers==2.4.0
sounddevice==0.4.6
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
soxr==0.3.4
speechbrain==0.5.14
SpeechRecognition==3.10.0
SQLAlchemy==2.0.18
stable-baselines3==2.2.0a11
stack-data==0.5.1
starlette==0.26.1
statsmodels==0.13.2
stopit==1.1.2
streamlit==1.11.1
streamlit-bokeh-events==0.1.2
streamlit-js-eval==0.1.5
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tcolorpy==0.1.4
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.10.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.10.0
termcolor==2.0.1
terminado==0.16.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.10.10
tiktoken==0.3.1
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
toolz==0.12.0
torch==1.13.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==0.13.1
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.14.1
tornado==6.2
TPOT==0.11.7
tqdm==4.65.0
trainer==0.0.20
traitlets==5.5.0
trampoline==0.1.2
transformers==4.30.1
transitions==0.9.0
triton==2.0.0
TTS==0.14.3
typepy==1.3.2
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.5
tzlocal==4.2
umap-learn==0.5.1
unidic-lite==1.0.8
update-checker==0.18.0
urllib3==1.26.12
utils==1.0.1
uvicorn==0.21.1
uvloop==0.17.0
validators==0.20.0
virtualenv==20.24.2
visions==0.7.5
wandb==0.15.4
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.4.1
websocket-server==0.6.4
websockets==11.0.3
Werkzeug==2.3.6
whisper-timestamped==1.12.20
widgetsnbextension==3.6.1
wikipedia==1.4.0
wrapt==1.14.1
xgboost==1.6.2
xlrd==2.0.1
XlsxWriter==3.0.3
xyzservices==2023.2.0
yapf==0.32.0
yarl==1.9.2
zipp==3.10.0
zstandard==0.21.0
